:root {
    --main: #151515;
    --main_secondary: #8b3838;
    --main_shadow: #151515;
    --main_secondary_shadow: #B43F3F;
    --text: #CBDCEB;
    --text_secondary: #151515;
    --action: #b4623f;
    --shadow: #877c7c;
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    color: var(--text_secondary);
}

/* login screen */
#login_register_screen{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--main);
}

#login_register_screen form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    text-align: center;
}

#login_register_screen form input{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
}

#login_register_screen form button{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: var(--action);
    color: var(--text_secondary);
}

#login_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--main);
    border-right: var(--main_secondary) 2px solid;
    color: var(--main_secondary);
}

#register_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--main_secondary);
    border-left: var(--main) 2px solid;
}

#register_section h2{
    color: var(--main);
    text-shadow: var(--main_shadow) 0px 0px 10px;
}

#login_button:hover{
    cursor: pointer;
}

#register_button:hover{
    cursor: pointer;
}

/*header*/
header{
    width: 100%;
    height: 10%;
}

#API{
    color: var(--text);
    font-size: 0.7rem;
}

#logo{
   justify-content: flex-start;
   width: 95%;
   padding-left: 5%;
}

#logo button{
    text-decoration: none;
    background-color: var(--main);
    appearance: none;
    text-rendering: none;
    color: var(--main_secondary);
    box-sizing: none;
    border-style: none;
}

#logo button:hover{
    cursor: pointer;
}

h1, h2{
    font-size: 2rem;
    color: var(--main_secondary);
    padding-bottom: 1rem;
    text-shadow: var(--main_secondary_shadow) 0px 0px 10px;
    font-style: italic;
}


header section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

/*mian*/
main{
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main aside*/
main aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main_secondary);
    box-shadow: var(--main_secondary_shadow) 0px 0px 80px 20px;
    border-radius: 10px;
    color: var(--text_secondary);
}

#profile_section{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#profile_section *{
    margin-top: 0.5rem;
    width: 90%;
    padding: 0.2rem;
    margin-left: 5%;
    margin-right: 5%;
}

#profile_section #profile_name{
    font-size: 1.5rem;
    font-weight: bold;
    text-overflow: clip;
    text-transform: uppercase;
}

.profile_button{
    background-color: var(--main_secondary);
    color: var(--main);
    margin-top: 0 !important;
    border: none;
    border-top: var(--main) 2px solid;
}

.profile_button:hover{
    cursor: pointer;
    background-color: var(--text);
}

#profile_section #logout_button{
    background-color: var(--main);
    color: var(--main_secondary);
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 1rem;
}

#profile_section #logout_button:hover{
    cursor: pointer;
}
   

#post_section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#post_section h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--main);
    text-shadow: var(--main_shadow) 0px 0px 10px;
}

#post_section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

#post_section form textarea{
    width: 80%;
    height: 30%;
    background-color: var(--main);
    color: var(--text);
    resize: none;
}

#post_section form input[type="file"]{
    width: 80%;
    background-color: var(--main);
    color: var(--text);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#post_section form input[type="file"]::file-selector-button{
    background-color: var(--main);
    color: var(--text);
}

#post_section form input[type="file"]::file-selector-button:hover{
    cursor: pointer;
}

#post_button{
    width: 80%;
    background-color: var(--main);
    color: var(--main_secondary);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post_image {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

#post_section form button:hover{
    cursor: pointer;
}

/*main section #main, feed and posts*/
#main{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.search{
    width: 80%;
    height: 10%;
    background-color: var(--main_secondary);
    color: var(--text);
    border-radius: 10px;
    padding: 0.5rem;
}

.search::placeholder{
    color: var(--text);
}

#feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow-y: auto;
}

#feed::-webkit-scrollbar {
    opacity: 0;
    width: 1px;
  }

#feed div{
    border: var(--main_secondary) 2px solid;
    color: var(--text);
    width: 80%;
    height: 10%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#feed div:hover{
    cursor: pointer;
    background-color: var(--main_secondary);
}

#feed article{
    width: 80%;

    border: var(--main_secondary) 2px solid;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#feed article .poster{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    align-self: flex-start;
    border-bottom: var(--text) 2px solid;
}

.show_more{
    background-color: var(--main_secondary);
    color: var(--main);
    margin-top: 0;
    border: none;
    border-top: var(--main) 2px solid;
    width: 83%;
}

.show_more:hover{
    cursor: pointer;
    background-color: var(--text);
}

.post_content_display{
    width: 90%;
    height: 80%;
    padding: 0.5rem;
    overflow-y: auto;
}

.delete_post{
    background-color: var(--main);
    color: var(--main_secondary);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: flex-end;
    padding: 0.5rem;
    position: relative;
    right: 0;
    top: -70px;
}

.delete_post:hover{
    cursor: pointer;
}

.post_date{
    align-self: center;
}

#feed article .follow {
    background-color: var(--main);
    color: var(--main_secondary);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--main_secondary);
    font-size: 1rem;
    text-transform: uppercase;
}

.follow:hover{
    cursor: pointer;
}

#back {
    background-color: var(--main);
    color: var(--main_secondary);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;
    align-self: center;
    padding: 0.5rem;
}

#back:hover{
    background-color: var(--main_secondary);
    color: var(--main);
    cursor: pointer;
}

/*footer*/
footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_secondary);
}